html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

b {
    font-size: 140px;
    font-family: Arial, Helvetica, sans-serif; 
    color: deepskyblue; 
    text-align: center; 
}

h2 {
    font-size: 140px;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    color: whitesmoke;
}

button {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    border-radius: 20px;
    border: solid 5px;
    padding: 5px 10px;
    background-color: cornsilk;
}

h1 {color: white; text-shadow: -3px -3px 0 #000, 3px -3px 0 #000,
    -3px 3px 0 #000, 3px 3px 0 #000; color: white; font-size: 90px; text-align: center;}

input {border-radius: 20px; margin-bottom: 3%; font-size: xx-large;}

#Wrong {color: red;}

#Correct {color: greenyellow;}

.copyright {
    position: fixed;
    bottom: 0;  
    left: 0; 
    width: 100%;
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    font-size: 14px;
  }  
